body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 ;
    flex-direction: column;

}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px double chartreuse;
}
#box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 51vw;
    height: 40vh;
    border: 2px solid  blueviolet;

}
 #box div {
    display: flex;
   justify-content:center;
    align-items: center;
    flex-direction: column;
    border: 1px solid green;
     width: 10vw;
     height: 15vh;


}
div button{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: blue;
    background-color: chartreuse;
}
