body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 ;
    flex-direction: column;

}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px double chartreuse;
}
#box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 60vh;
    border: 2px solid  blueviolet;

}
div{
    display: flex;
   justify-content:center;
    align-items: center;
    border: 1px solid green;
}
 div button{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    color: blue;
    background-color: chartreuse;
}
